/.vscode
/sort/binary_sort/binary_sort.exe
/sort/binary_sort/binary_sort.o
/sort/bubble_sort/bubble_sort.exe
/sort/bubble_sort/bubble_sort.o
/sort/merge_sort/merge_sort.exe
/sort/merge_sort/merge_sort.o


/graphs/breadth_first_search/breadth_first_search.exe
/graphs/breadth_first_search/breadth_first_search.o
/graphs/dijkstra_algorithm/dijkstra_algorithm.exe
/graphs/dijkstra_algorithm/dijkstra_algorithm.o

/binary_search.exe
/binary_search.0