/.vscode
/binary_sort.exe
/binary_sort.o
/bubble_sort.exe
/bubble_sort.o
/merge_sort.exe
/merge_sort.o
/bfs.exe
/bfs.o
/binary_searck.exe
/binary_searck.0
/dijkstra_algorithm.exe
/dijkstra_algorithm.o